/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.phpunit.result.cache
resources/views/testedatatable.blade.php
resources/views/mail.blade.php
resources/views/administrador/codigo.blade.php
